#cke_edit-field-sp-log-und-0-value.cke_contents {
height: 100% !important;
padding: 0 !important;
margin: 0 !important;
}

table.log-table {
width: 100%;
top: 0 !important;
padding: 0 !important;
margin: 0 !important;
border: 1px solid #CCC !important;
}

table.log-table th {
font: bold 12px "Lucida Grande","Lucida Sans Unicode",sans-serif;
border: 0;
background-color: #EEE;
}

table.log-table td {
font: normal 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#cke_bottom_edit-field-sp-log-und-0-value {
padding: 0 !important;
margin: 0 !important;
}
table.log-table tr td {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
}
.log-table input {
  background-color: transparent !important;
}

/* decoracio del wrapper dels enllaços multiple quan un editor esta en node edit, dins del textarea de ckeditor */
.lm-wrapper{
background: url(/sites/all/themes/hba_theme/css/images/more-links-10.gif) no-repeat 3px 4px #EEE;
padding-left: 15px;
}
