/* This file will hold the main styles for your website. */
body {
  background-color: #eaeaea;
  color: #3D3C3C;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 24px;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
}

body a:link, 
body a:visited {
  color: #C4202B;
}

#section-header {
  margin-bottom: 10px;
}

h1#page-title {
  margin-bottom: 10px;
}

#region-menu {
  margin-top: 15px;
}

#region-menu ul#main-menu {
  background: rgb(251,248,248); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWUzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(251,248,248,1) 0%, rgba(229,227,227,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,248,248,1)), color-stop(100%,rgba(229,227,227,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(251,248,248,1) 0%,rgba(229,227,227,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(251,248,248,1) 0%,rgba(229,227,227,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(251,248,248,1) 0%,rgba(229,227,227,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(251,248,248,1) 0%,rgba(229,227,227,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf8f8', endColorstr='#e5e3e3',GradientType=0 ); /* IE6-8 */
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  padding: 0 20px;
  display: block;
}

#region-menu ul#main-menu li {
  float: left;
  display: block;
  padding: 0 8px;
}

#region-menu ul#main-menu li a {
  font-size: 17px;
  color: black;
  text-decoration: none;
  padding: 10px 18px;
  display: block;
  border-bottom: 5px solid transparent;
}

#region-menu ul#main-menu li.first a {
  background: url(images/icons.png) no-repeat -8px -288px;
}

#region-menu ul#main-menu li.active {
  background: rgb(255,254,254); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyNCUiIHN0b3AtY29sb3I9IiNmZmZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWRlZGVkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(255,254,254,1) 24%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,rgba(255,254,254,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,254,254,1) 24%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,254,254,1) 24%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,254,254,1) 24%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,254,254,1) 24%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffefe', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}

#region-menu ul#main-menu li.active a {
  color: #c4464f;
  border-bottom: 5px solid #c4464f;
}

#region-menu ul#main-menu li:hover a {
  border-bottom: 5px solid #c4464f;
}

#region-menu ul#secondary-menu {
  float: right;
  clear: both;
}

#region-menu ul#secondary-menu a {
  color: #959595;
  text-decoration: none;
}

#region-menu ul#secondary-menu a:hover {
  color: #787878;
}

.logo-img {
  margin-left: 30px;
}

#region-sidebar-first .region-inner {
  background: white;
  /*border: 1px solid #c2c2c2;*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;  
  padding: 15px;
  -webkit-box-shadow: 0px 1px 1px 1px #e8e8e8;
  -moz-box-shadow: 0px 1px 1px 1px #e8e8e8;
  box-shadow: 0px 1px 1px 1px #e8e8e8; 
}

#region-sidebar-first .block {
  margin-bottom: 15px;
}

#section-content {
  background: #f2f2f2;
  border-top: 2px solid white;
}

#zone-content {
  padding: 30px 0;
}

#section-footer {
  background: #535151;
}

#zone-footer {
  padding: 15px 0;
  color: #cfcfcf;
}

#zone-footer a {
  color: #cfcfcf;
  text-decoration: underline;
}

#block-menu-menu-sections .content ul {
  margin-left: 0;
}

#block-menu-menu-sections .content ul li {
  list-style: none;
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iI2Y0ZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,241,241,1) 45%, rgba(255,255,255,1) 86%, rgba(235,235,235,1) 97%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(45%,rgba(244,241,241,1)), color-stop(86%,rgba(255,255,255,1)), color-stop(97%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,241,241,1) 45%,rgba(255,255,255,1) 86%,rgba(235,235,235,1) 97%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,241,241,1) 45%,rgba(255,255,255,1) 86%,rgba(235,235,235,1) 97%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,241,241,1) 45%,rgba(255,255,255,1) 86%,rgba(235,235,235,1) 97%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,241,241,1) 45%,rgba(255,255,255,1) 86%,rgba(235,235,235,1) 97%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-8 */
  margin-bottom: 5px;
  border-left: 9px solid #c84a53;
  padding: 0;
}

#block-menu-menu-sections .content ul li.menu_regions__countries  {
  border-left-color: #c84a53;
}

#block-menu-menu-sections .content ul li.menu_checklist {
  border-left-color: #fc7f88;
}


#block-menu-menu-sections .content ul li.menu_special_features {
  border-left-color: #d46928;
}


#block-menu-menu-sections .content ul li.menu_bibliography {
  border-left-color: #737373;
}


#block-menu-menu-sections .content ul li.menu_wiki_handbook {
  border-left-color: #c0bdbd;
}


#block-menu-menu-sections .content ul li.menu_newsletters_and_warnings {
  border-left-color: #f2c16b;
}

#block-menu-menu-sections .content ul li .wrapper {
  border-top: 2px solid #d5d5d5;
  border-right: 2px solid #d5d5d5;
  border-bottom: 1px solid #bababa;
  border-left: 1px solid #d5d5d5;
  padding: 6px 5px 6px 6px;
}

#block-menu-menu-sections .content ul li a {
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 5px;
  display: block;
}

#block-menu-menu-sections .content ul li p.desc {
  color: #707070;
  font-size: 11px;
  line-height: 13px;
  margin-left: 75px;
  margin-bottom: 7px;
}

#block-menu-menu-sections .content ul li .menu_image {
  background: url(images/icons.png) no-repeat 0 0;
  width: 70px;
  height: 70px;
  display: block;
  float: left;
  margin: 1px 5px 10px 0;
}


#block-menu-menu-sections ul li.menu_regions__countries .menu_image {
  background-position: -13px 0;
}

#block-menu-menu-sections ul li.menu_checklist .menu_image {
  background-position: -76px 0;
}


#block-menu-menu-sections ul li.menu_special_features .menu_image {
  background-position: -150px 0;
}


#block-menu-menu-sections ul li.menu_bibliography .menu_image {
  background-position: -215px 0;
}


#block-menu-menu-sections ul li.menu_wiki_handbook .menu_image {
  background-position: -283px 0;
}


#block-menu-menu-sections ul li.menu_newsletters_and_warnings .menu_image {  
  background-position: -347px 0;
}

.view-display-id-page .views_slideshow_main {
  height: 244px;
  -webkit-box-shadow: 0 14px 7px -9px #D9D9D9;
  -moz-box-shadow: 0 14px 7px -9px #D9D9D9;
  box-shadow: 0 14px 7px -9px #D9D9D9;
}

.view-display-id-page .views_slideshow_main .views-slideshow-cycle-main-frame-row {
  height: 244px;
}

.view-display-id-page .views_slideshow_main .views-field-title {
  float: right;
  width: 300px;
  height: 80px;
  padding: 15px;
  text-align: center;
  position: relative;
  top: -130px;
  margin-right: 15px;
  background: #f3eeec;
  /*opacity: 0.73;*/
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(243, 238, 236);
  /* RGBa with 0.6 opacity */
  background: rgba(243, 238, 236, 0.73);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#baf3eeec, endColorstr=#baf3eeec);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#baf3eeec, endColorstr=#baf3eeec)";
}

.view-display-id-page .views_slideshow_main .views-field-title a {
  font-size: 18px;
  color: #656464;
  text-decoration: none;
  font-weight: bold;
}

.view-display-id-page .views-slideshow-controls-bottom .views-slideshow-pager-fields {
  float: left;
  position: relative;
  top: -40px;
  margin-left: 30px;
  z-index: 100;
}

.view-display-id-page .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item {
  float: left;
  width: 15px;
  height: 15px;
  background: #a8a19e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
}

.view-display-id-page .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item.active {
  background-color: #898380;
}

.view-display-id-page .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item .views-content-nothing {
  display: none;
}

#block-views-frontpage-content-blocks-block .view-content .views-row {
  float: left;
  width: 265px;
  background: #e8e7e7;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#block-views-frontpage-content-blocks-block .view-content .views-row-first {
  margin-right: 10px;
}

#block-views-frontpage-content-blocks-block .view-content .views-row .inner {
  border: 1px solid #7a7a7a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: white;
}

#block-views-frontpage-content-blocks-block .view-content .views-row .inner2 {
  padding: 10px 20px 20px 20px;
}

#block-views-frontpage-content-blocks-block .view-content .views-row-first .inner2 {
  border-top: 16px solid #c02a35;
}

#block-views-frontpage-content-blocks-block .view-content .views-row-last .inner2 {
  border-top: 16px solid #b7b4b4;
}

#block-views-frontpage-content-blocks-block .views-field-title {
  font-size: 22px;
  margin-bottom: 5px;
}

#block-views-frontpage-content-blocks-block .views-row-first .views-field-title {
  color: #c02a35;
}

#block-views-frontpage-content-blocks-block .views-field-body {
  margin-bottom: 18px;
}

#block-views-frontpage-content-blocks-block .views-field-field-text-banner-link {
  text-align: center;
}


#block-views-frontpage-content-blocks-block .views-field-field-text-banner-link a {
  background: #c73730;
  padding: 4px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid #bbbbbb;
  font-size: 16px;
}

#block-views-frontpage-content-blocks-block .views-field-field-text-banner-link a:hover {
  background: #bb2934;
}

.not-front #region-content .region-inner {
  background: white;
  padding: 15px 30px;
  border-top: 5px solid #e5e1e1;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.context-species #region-content .region-inner {
  border-color: #ee9c31;
  border-color: #FA991B;
}

.context-species h1#page-title em {
  font-weight: normal;
  color: gray;
}

.context-species #region-content a {
  color: #EE9C31;  
  color: #FF6600;
  color: #FC6F03;
  color: #FA991B;
  font-weight: bold;
}

.context-species #region-content a:hover {
  color: #FF6600;
  color: gray;
}

#block-block-2 {
  background: #f0f0f0;
  background: #FFF5E9;
  padding: 10px 25px 25px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 1px 1px 1px #e8e8e8;
  -moz-box-shadow: 0px 1px 1px 1px #e8e8e8;
  box-shadow: 0px 1px 1px 1px #e8e8e8; 
  -webkit-box-shadow: 0px 1px 1px 1px #F1E6D7;
  -moz-box-shadow: 0px 1px 1px 1px #F1E6D7;
  box-shadow: 0px 1px 1px 1px #F1E6D7; 
}

#block-block-2 .content-toc .toc-list ul {
  margin: 0 0 0 68px;
}

#block-block-2 .content-toc .toc-list ul li {
  list-style: none;
  float: left;
  width: 190px;
}

#block-block-2 .content-toc .toc-list ul li a {
  font-size: 13px;
  text-decoration: none;
}

#block-block-2 .content-toc .toc-title {
  margin-bottom: 10px;
}

#block-block-2 .content-toc .toc-title a {
  color: gray;
}

#block-textsize-form {
  float: right;
}

#block-textsize-form .block-title {
  font-weight: normal;
  float: left;
  margin-right: 10px;
}

#block-textsize-form .content {
  float: left;
}

#region-content h3,
#region-content h3 a {
  color: black;
}

.not-front #region-sidebar-second .region-inner {
  /*border-top: 4px solid #e5e1e1;
  padding: 10px 0;*/
}

.not-front #region-sidebar-second .block .content,
.not-front #region-sidebar-third .block .content {
  background: white;
  padding: 14px 25px 16px;
  margin: 0 4px 0 4px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px 1px #e8e8e8;
  -moz-box-shadow: 0px 1px 1px 1px #e8e8e8;
  box-shadow: 0px 1px 1px 1px #e8e8e8; 
}

#region-sidebar-second .block,
#region-sidebar-third .block {
  margin-bottom: 15px;
}

/*
#region-sidebar-second h2 {
  text-transform: uppercase;
  color: black;
  font-weight: normal;
}*/

#region-sidebar-second .views-label,
#region-sidebar-second h2,
#region-sidebar-third .views-label,
#region-sidebar-third h2 {
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,240,240,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  
  border: 1px solid #c8c5c5;
  font-weight: normal;
  color: #707070;
  
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 13px;
}

#region-sidebar-second h2,
#region-sidebar-third h2 {
  margin-bottom: 0;
}

#region-sidebar-second h2 span,
#region-sidebar-third h2 span {
    border-left: 4px solid #44985a;
    padding: 2px 14px;
    display: block;
}

#region-sidebar-second h2.collapsiblockCollapsed a,
#region-sidebar-third h2.collapsiblockCollapsed a {
  background: url(images/icons.png) no-repeat 246px -239px;
}

#region-sidebar-second h2 a,
#region-sidebar-third h2 a {
  color: #707070;
  background: url(images/icons.png) no-repeat 246px -192px;
}

#region-sidebar-second #block-views-species-figure-block-1 h2 span,
#region-sidebar-third #block-views-species-figure-block-1 h2 span {
  border-color: #b94ebe;
}

#region-sidebar-second #block-views-species-test-block-1 h2 span,
#region-sidebar-third #block-views-species-test-block-1 h2 span {
  border-color: #417498;
}

#region-sidebar-second #block-block-8 h2 span,
#region-sidebar-third #block-block-8 h2 span {
  border-color: #c94b54;
}

body .region-content ul.flippy {
  margin: 10px;
  padding-bottom: 30px;
}

.region-content ul.flippy li {
  padding: 4px;
}

.region-content ul.flippy li a {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0 0.5em 0.5em 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #ddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  outline: 0;
  overflow: visible;
  padding: 2px 10px 2px;
  text-shadow: #fff 0 1px 1px;
  width: auto;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px;
}

.region-content ul.flippy li a {
  color: #333;
  font: bold 12px/1.2 Arial, sans-serif;
  text-decoration: none;
  text-transform: lowercase;
}

.region-content ul.flippy li a:hover {
  background: white;
}

body .node-links ul li a, 
body .comment-links ul li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#block-bird-taxonomies-bird-orders h2 {
  background: rgb(193,49,39); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxMzEyNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNzQ3NDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(193,49,39,1) 0%, rgba(215,71,70,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(193,49,39,1)), color-stop(100%,rgba(215,71,70,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(193,49,39,1) 0%,rgba(215,71,70,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(193,49,39,1) 0%,rgba(215,71,70,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(193,49,39,1) 0%,rgba(215,71,70,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(193,49,39,1) 0%,rgba(215,71,70,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c13127', endColorstr='#d74746',GradientType=0 ); /* IE6-8 */
  color: white;
  padding: 5px 20px;
  border: 1px solid #c8c8c8;
  font-weight: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#block-bird-taxonomies-bird-orders .content {
  padding: 15px 5px 5px 5px;
  bordeR: 1px solid #a0a0a0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: none;
  position: relative;
  top: -3px;
}

#block-bird-taxonomies-bird-orders .content ul.orders {
  /*border-left: 1px solid #b2b1b1;
  margin-left: 10px;*/
  margin-right: 10px;
}

#block-bird-taxonomies-bird-orders .content ul.families {
  border-color: #EE9C31;
  margin-top: 0;
  padding-top: 7px;
}
  
#block-bird-taxonomies-bird-orders .content ul.species {
}

#block-bird-taxonomies-bird-orders .content ul.subspecies {
  border-color: #EE9C31;
}


#block-bird-taxonomies-bird-orders .content ul.orders ul {
  border-left: 1px solid #b2b1b1;
}

#block-bird-taxonomies-bird-orders .content ul.families ul {
  border-color: #CF3F3A;
}

#block-bird-taxonomies-bird-orders .content ul.species ul {
  border-color: #EE9C31;
}

#block-bird-taxonomies-bird-orders .content ul li {
  margin-left: 0;
  padding-left: 10px;
}

#block-bird-taxonomies-bird-orders .content a {
  color: black;
  text-decoration: none;
  padding-left: 7px;
  
}

#block-bird-taxonomies-bird-orders .content li:hover {
  /*background: #FCFCD7;*/
}

body.context-family #region-content .region-inner {
  border-color: #ca4c55;
}

#block-bird-taxonomies-bird-orders .content .go {
  background: url(images/icons.png) no-repeat -438px 2px;
  width: 14px;
}

#block-bird-taxonomies-bird-orders .content .go span {
  visibility: hidden;
}

#block-bird-taxonomies-bird-orders .content li > span:hover > .go {
  background-position: -438px -29px;
}

#block-bird-taxonomies-bird-orders .content .species {
  padding-top: 7px;
}

#block-bird-taxonomies-bird-orders .content .subspecies {
  padding-top: 7px;
}

#block-bird-taxonomies-bird-orders .content li.selected > .a-wrapper > a {
  color: white;
  background: #8C8C8C;
  padding: 2px 4px 2px 7px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#block-bird-taxonomies-bird-orders .content ul.families li.selected > .a-wrapper > a {
  background-color: #CF3F3A;
}

#block-bird-taxonomies-bird-orders .content ul.species li.selected > .a-wrapper > a {
  background-color: #EE9C31;
  background: #FA991B;
}

#block-bird-taxonomies-bird-orders .content ul.subspecies a {
  font-style: italic;
}

#block-bird-taxonomies-bird-orders .content ul a:hover {
  color: gray;
}

/*
#block-bird-taxonomies-bird-orders .content ul li.selected > .a-wrapper > a:hover {
  color: black;
}*/

#search-block-form .form-text {
  width: 176px;
}

#region-content h3 {
  margin: 10px 0 5px;
  background: #f0f0f0 url(images/icons.png) no-repeat 486px -135px;
  padding: 0px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px 1px #e8e8e8;
  -moz-box-shadow: 0px 1px 1px 1px #e8e8e8;
  box-shadow: 0px 1px 1px 1px #e8e8e8; 
}

#region-content .collapsed h3 {
  background-position: 486px -80px;
}


body #region-content .region-inner h3 a {
  font-size: 18px;
  color: #707070;
  text-decoration: none;
}

#region-content h1, 
#region-content h2, 
#region-content h3, 
#region-content h4, 
#region-content h5, 
#region-content h6 {
  font-family: "Trebuchet MS" ,sans-serif;
}

.view-mode-full .field-group-format-wrapper {
  margin: 20px 15px 23px;
  font-size: 13px;
}


#zone-user-wrapper {
  background: #535151;
  padding: 3px 15px;
  color: #bec6c6;
  height: 22px;
}

#zone-user-wrapper a {
  color: #bec6c6;
}

#block-global-filter-global-filter-1 {
  color: #fff200;
  position: relative;
  z-index: 100;
  background: #535151;
  width: 306px;
  float: left;
}
  
#block-global-filter-global-filter-1 h3 {
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 20px;
  font-weight: normal;
  letter-spacing: -0.02em;
}

#block-global-filter-global-filter-1 a {
  /*color: red;*/
  color: #fff200;
  font-weight: normal;
}

#block-global-filter-global-filter-1 #edit-inputs {
  margin-bottom: 0;
}

#block-global-filter-global-filter-1 #edit-inputs .fieldset-wrapper {
  padding: 10px 20px 15px 20px;
  background: #535151;
  position: absolute; 
  left: -999em;
  color: black;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/*#block-global-filter-global-filter-1 #edit-inputs.visible,*/
#block-global-filter-global-filter-1 #edit-inputs .fieldset-wrapper.visible {
  left: 0;
}

#block-global-filter-global-filter-1 h3:before {
  /*Add another block-level blank space*/
  content:"\00a0";
  display:block;
  
  width: 10px;
  height: 10px;
  background: #fff200;
  margin: 6px 6px 0 0;
  float: left;
}

body .chzn-choices {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#block-global-filter-global-filter-1 #edit-submit {
  display: block;
  width: 257px;
  margin-top: 5px;
}

#zone-branding-wrapper {
  margin-top: 10px;
}

body button, 
body input[type="reset"], 
body input[type="submit"], 
body input[type="button"] {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#block-system-user-menu .content ul {
  text-align: right;
}

#block-system-user-menu .content ul li {
  display: inline;
  list-style: none;
}

#block-system-user-menu .content ul li.first a {
  color: #fff200;
}

#block-system-user-menu .content ul li a {
  color: white;
}

#block-system-user-menu .content ul li.last a {
  color: #bec6c6;
}

#block-views-flag-nodes-block-6,
#block-views-flag-nodes-block-5 {
  float: left;
  width: 180px;
}

#block-views-flag-nodes-block-6 {
  margin-right: 10px;
}


#block-views-flag-nodes-block-6 h2,
#block-views-flag-nodes-block-5 h2 {
  color: #e3e6e6;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  cursor: hand;
  letter-spacing: -0.02em;
}

#block-views-flag-nodes-block-6 .content,
#block-views-flag-nodes-block-5 .content {
  background: #535151;
  position: absolute; 
  left: -999em;
  color: black;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 180px;
}

#block-views-flag-nodes-block-6 .content.visible,
#block-views-flag-nodes-block-5 .content.visible {
  left: 0;
}

#block-views-flag-nodes-block-6 .content .item-list,
#block-views-flag-nodes-block-5 .content .item-list {
  list-style: none;
  background: #535151;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 5px 10px;
  margin-top: -2px;
  margin-bottom: 0;
  float: left;
  position: absolute;
  z-index: 100;
}

#block-views-flag-nodes-block-6 .content ul li,
#block-views-flag-nodes-block-5 .content ul li  {
  list-style: none;
  margin-left: 0;
}

#block-views-flag-nodes-block-6 .content ul li a,
#block-views-flag-nodes-block-5 .content ul li a {
  color: #FFF200;
}

#block-views-flag-nodes-block-5 h2:before,
#block-views-flag-nodes-block-6 h2:before {
  /*Add another block-level blank space*/
  content:"\00a0";
  display:block;
  
  width: 10px;
  height: 10px;
  background: #e3e6e6;
  margin: 6px 6px 0 15px;
  float: left;
}

/* Plates */
body.page-plate #region-content {
  width: 99%;
}

body.page-plate #region-content .view-content {
  border: none;
}

body.page-plate #region-content .region-inner {
  -webkit-border-radius: 10px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius: 10px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-radius: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  padding: 0;
  border: 1px solid #ededed;
}

body.page-plate #block-views-exp-galley-fluid-page {
  border: 0;
  border-bottom: 2px solid #f4f4f4;
  
  background: rgb(250,250,250); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(250,250,250,1) 0%, rgba(248,247,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(248,247,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(248,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(248,247,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(248,247,247,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(248,247,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f8f7f7',GradientType=0 ); /* IE6-8 */
}

body.page-plate #block-system-main {
  padding: 20px;
}

body.page-plate #block-views-exp-galley-fluid-page h2 {
  width: 120px;
  float: left;
  border-right: 1px solid white;
}

body.page-plate #block-views-exp-galley-fluid-page h2 a {
  text-transform: uppercase;
  font-style: normal;
  color: #4e4f4e;
  font-size: 14px;
}

body.page-plate #block-views-exp-galley-fluid-page .content {
  float: left;
}

body.page-plate .views-exposed-widgets > .views-exposed-widget {
  float: left;
}

body.page-plate #edit-submit-galley-fluid {
  background: #25ade2;
  color: white;
  border-color: #25ade3;
  text-shadow: none;
}

body.page-plate #edit-reset {
  background: #fdfdfd;
  color: #cecdcd;
  border-color: #cecdcd;
}

body.page-plate .color-bkg-selector-label {
  float: left;
}

/*
body.page-plate #edit-field-figure-morph-value-wrapper {
  border-right: 1px solid red;
}

body.page-plate #edit-field-figure-gender-value-wrapper {
  border-left: 1px solid #eae8e8;
}*/

/* ******************************************** Anadidos JULIEN ************************************* */

a {text-decoration: none !important;}

/*
 * sidebar izquierda
 * 
 */

/* bloc Pending revision */
#block-views-revisions-pending-block.block-views {
background: #FFFDDB;
border: 1px dashed #D38C9B;
padding: 10px;
}

/*
 * parte central
 *
 */

.tabs ul.tabs.primary {
background: none;
border-bottom: 0px solid #b4002d;
margin-bottom: 4px !important;
}
.region-content .tabs ul.tabs.primary li a {
background: #FCF5F4;
padding: 0.3em 0.7em;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.region-content .tabs ul.tabs.primary li.active a.active {
background: #FFF;
border-top: 1px solid #B4002D;
border-left: 1px solid #B4002D;
border-right: 1px solid #B4002D;
border-bottom: 0px solid #FFF;
}

/*tabs secundaries de un node display, si Node Current */
ul.tabs.secondary {
display: inline-block;
padding: 8px 5px;
margin-top: 10px;
background: #E1ECEF; 
border: 1px solid #B8E0ED;
}
/*tabs secundaries de un node display, si Node Pending */
ul.tabs.secondary.pending {
width: 98.8%;
text-align: center !important;
display: inline-block;
padding: 5px 0 8px 5px;
margin: 0;
background-color: #FFFDDB !important; 
border-left: 1px solid #B8E0ED;
border-right: 1px solid #B8E0ED;
border-top: 1px solid #CCC;
}

/* diff */

.content table.diff, 
div.diff-section-title {
font-size: 1.1em;
background: #E1ECEF; 
border: 1px solid #B8E0ED;}
.content table.diff td.diff-section-title {font-size: 0.95em; padding: 10px 5px 5px 5px;}
div.diff-section-title {margin-bottom: 10px;}

/* Menu nav parte central FAMILY */

.node-type-family .vertical-tabs {
margin-left: 0;
border: 0;
}

body.node-type-family ul.vertical-tabs-list {
  min-height: 160px !important;
  margin: 0 0 20px 0;
  padding: 10px 0;
  position: relative; /* IE6 */
  list-style: none;
  list-style-image: none; /* IE6 */
  background: #f0f0f0;
  background: #FAF5F5;
  padding: 10px 25px 13px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 1px 1px 1px #e8e8e8;
  -moz-box-shadow: 0px 1px 1px 1px #e8e8e8;
  box-shadow: 0px 1px 1px 1px #e8e8e8; 
  -webkit-box-shadow: 0px 1px 1px 1px #EEE2E2;
  -moz-box-shadow: 0px 1px 1px 1px #EEE2E2;
  box-shadow: 0px 1px 1px 1px #EEE2E2; 
  width: auto;
  float: none;
  border: none;
}

.node-type-family ul.vertical-tabs-list {
  min-height: 190px !important;
}
.node-type-family ul.vertical-tabs-list li {
  background: none;
  border: 0px solid #ccc;
  min-width: 5em; /* IE7 */
  float: none;
  line-height: 1.2em !important;
}
body.node-type-family #region-content ul.vertical-tabs-list li.selected,
body.node-type-family #region-content ul.vertical-tabs-list li a:hover {
  background: none;
  color: gray;
  text-decoration: none;
}

body.node-type-family #region-content ul.vertical-tabs-list li.selected strong,
body.node-type-family #region-content ul.vertical-tabs-list li a:hover strong {
  text-decoration: none;
}

.node-type-family .content .vertical-tabs fieldset .field-type-text-long.field-label-above .field-label {
  display: block;
  color: #CA4C55;
  margin-bottom: 7px;
}

.node-type-family ul.vertical-tabs-list li.reset {
/*margin-top: -187px;*/
  margin-top: -141px;
}

body .vertical-tabs ul.vertical-tabs-list .selected strong {
  background: #CA4C55;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  display: block;
}

body .vertical-tabs ul.vertical-tabs-list  strong {

}

body .vertical-tabs ul.vertical-tabs-list strong {
  padding: 4px 10px 4px 15px;
  display: block;
}

body .vertical-tabs ul.vertical-tabs-list .selected strong {
  text-decoration: none;
}

body.context-family .vertical-tabs ul.vertical-tabs-list li a {
  padding: 0.2em 0.6em;
  padding: 4px 10px;
  padding: 2px 10px;
  padding: 0;
  outline: none;
}

li.columna1 { margin-left: 20px !important; width: 40%; }
li.columna2 { margin-left: 50% !important; width: 40%; }


.node-type-family .content .vertical-tabs fieldset {
border: 0 !important;
float: left;
padding: 0 !important;
}
.node-type-family .content .vertical-tabs fieldset .field-type-text-long.field-label-above .field-label {
 /*display: none;*/
}
.node-type-family .content .vertical-tabs fieldset .field.field-name-field-fam-summary.field-type-text-long.field-label-above .field-label {
display: block;
}

.node-type-species .field-group-div.collapsible h3 {
  cursor: pointer;
}

/* seccio Bibliography */
.node-type-species .field-name-field-sp-biblio-new .field-name-title {float: left; padding-right: 10px;}
.node-type-species .field-name-field-sp-biblio-new .field-item .ds-1col.view-mode-ds_biblio_teaser {padding-bottom: 15px;}

.node-type-species .field-name-field-sp-biblio-new h4 {
font-size: 1.3em;
color: #111;
padding: 0 0 5px 0 !important;
margin: 15px 0 10px 0 !important;
line-height: 100%;
border-bottom: 1px solid #CCC;
}
.field-name-field-sp-biblio-new ul.biblio-bt li {padding: 0; margin: 0;}
.field-name-field-sp-biblio-new .biblio-bt .titol {float: left; padding-right: 8px;}

/*numero d'ordre (computed field) */
.field-name-field-sp-ordre2 {
padding-bottom: 15px;
}

/* block 'Subspecies in this species' incrustat en Species node display */
#block-views-subspecies-of-the-species-block {
font: normal 100% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
#block-views-subspecies-of-the-species-block h2 {
margin-top: 0;
font: bold 105% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
.sp-ssp-main {
float: left;
margin: 0 20px 0 0;
padding-left: 18px;
background: transparent url(/misc/menu-leaf.png) no-repeat left center;
}
.sp-ssp-main a {
font-weight: bold;
padding-right: 15px;
background: transparent url(/sites/all/modules/extlink/extlink.png) no-repeat right center;
}
.sp-ssp-descriptor {padding-left: 15px;}
.sp-ssp-edit {
padding-right: 15px;
background: transparent url(/sites/all/modules/extlink/extlink.png) no-repeat right center;
text-shadow: #222 0px -1px 0px;
}
.sp-ssp-distrib { padding-left: 5px;}
.sp-ssp-distrib,
.sp-ssp-distrib p {
display: inline;
}

/*section log*/
fieldset#node_species_full_group_sp_admin_display.collapsible {
padding: 10px;
border: 1px solid #CCC;
}
fieldset#node_species_full_group_sp_admin_display.collapsible.collapsed {
padding: 0;
border: 0;
}
.field-name-field-sp-log .field-label {
padding-bottom: 5px;
}
.field-name-field-sp-log-table th.col_1 {
width: 90px;
}

/* flag */

h1#page-title.title .flag-nodes {
font-style: italic;
height: 34px !important;
padding-left: 5px;
}
h1#page-title.title span.flag-nodes a {
text-decoration: none;
}

.page-node-revisions .unflag-action {
display: none;
}

/*
 * Sidebar second (derecha)
 * 
 */

/* Colorbox / Shadowbox */

/*.colorbox-video a.colorbox-load, .node-inner .shadowbox.video {
padding-right: 16px;
background:url(/sites/all/themes/hbw/images/video.gif) no-repeat right 3px transparent;
}
.colorbox-pic a.colorbox-load, .node-inner .shadowbox.pic {
padding-right: 16px;
background:url(/sites/all/themes/hbw/images/pic.png) no-repeat right 4px transparent;
}
.colorbox-sound a.colorbox-load, .node-inner .shadowbox.sound {
padding-right: 16px;
background:url(/sites/all/themes/hbw/images/sound.gif) no-repeat right 4px transparent;
}*/

#colorbox #cboxWrapper #cboxContent #cboxTitle {
margin: -20px 5px 5px 10px !important;
height: 40px;
}

/* Shadowbox*/
#sb-wrapper {
top: 0px !important;
left: 80px !important;
/*background: url(/sites/all/themes/hbw/images/ajax-loader.gif) center no-repeat;*/
border: 0px;
}
#sb-title-inner {
background-color: #000;
font-size: 0.9em;
padding: 2px 4px !important;
opacity: 0.8;
}
#sb-info {
background-color: #000;
opacity: 0.8;
}
#sb-counter {
padding-left: 4px !important;
}

/* Revision */

.page-node-revisions.page-node-revisions-view #region-content,
.page-node-revisions.page-node-revisions-view #region-content .region-content .node-full .content .vertical-tabs fieldset {
/*background: #FFFDDB;*/ /*no es pot, falta una classe indicant que el node esta despublicat en el body*/
}

.page-node #region-content .tabs span.node-status-unpublished {
background: #FCF5F4;
border-top: 1px solid #B4002D;
border-left: 1px solid #B4002D;
border-right: 1px solid #B4002D;
border-bottom: 1px solid #FFF;
padding: 0.7em;
letter-spacing: 0.1em;
font-style: italic;
font-size: 0.9em;
color: #333;
line-height: 0.9em;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
float: right;
bottom: 24px;
position: relative;
}
.page-node-revisions #page #region-content .tabs span.node-status-unpublished {
display: none; /*no mostrar en les pagines de revisio*/
}

/* Species comparison */

.page-species-comparison table {
	width: 100%;
	padding: 0;
	margin: 10px 0;
	list-style: none;
}
.page-species-comparison table td {
	width: 200px; /*Set default width*/
}

.page-species-comparison table td .col img {
        /*Flexible image size with border*/
	width: 89%;  /*Took 1% off of the width to prevent IE6 bug*/
	padding: 5%;
	background:#fff;
	margin: 0 auto;
	display: block;
	-ms-interpolation-mode: bicubic; /*prevents image pixelation for IE 6/7 */
}

.view-compare.view-display-id-page table th {
width: 75px;
}

.view-compare.view-display-id-page table tr.title.odd th, 
.view-compare.view-display-id-page table tr.ops.even th,
.view-compare.view-display-id-page table tr.ops.even,
.view-compare.view-display-id-page table tr.title {
background-color: #fff;
}

.view-compare.view-display-id-page table tr.odd th,
.view-compare.view-display-id-page table tr.even th {
background-color: transparent !important;
color: #333;
font-size: 1.05em;
border-right: 0 !important;
padding-right: 0 !important;
margin-right: 0 !important;
}

.view-compare.view-display-id-page table td {
border-left: 1px transparent solid;
border-right: 1px transparent solid;
vertical-align: top;
}

.view-compare.view-display-id-page table tr.title {
font-size: 1.2em;
font-weight: bold;
height: 70px !important;
}

.view-compare.view-display-id-page table td a.flag.unflag-action {
color: #555;
}
li.flag-compare .flag-action {
  background: url(images/icon-compare_add.png) no-repeat 0 center transparent; /* LTR */
  padding-left: 20px;
}
li.flag-compare .unflag-action {
  background: url(images/icon-compare_remove.png) no-repeat 0 center transparent; /* LTR */
  padding-left: 20px;
}
.page-node-revisions li.flag-compare .flag-action, 
.page-node-revisions li.flag-compare .unflag-action {
display: none;
}

/* report = flag */

#region-content .links.inline {
text-align: right;
margin: 4em 0 3em 0;
display: block;
}
li.flag-flag_nodes {
display: inline-block !important;
}
#region-content a.flag-action {
  color: #FFF;
  padding: 5px 8px 5px 24px;
	font-size: 11px;
	line-height: 25px;
	text-decoration: none;
	background: #333 url("/sites/all/themes/hba_theme/css/images/flag_white_16px.png") 3px 3px no-repeat;
	overflow: hidden;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#region-content a.unflag-action {
  color: #FFF;
  padding: 5px 8px 5px 24px;
	font-size: 11px;
	line-height: 25px;
	text-decoration: none;
	background: #9FC748 url("/sites/all/themes/hba_theme/css/images/flag_white_16px.png") 3px 3px no-repeat;
	overflow: hidden;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#region-content .flag-action label {
	display: block;
	font-weight: normal;
}
#region-content .flag-action input {
	display: block;
	width: 260px;
}
#main_column .flag-action p.btn {
	float: left;
	margin: 4px 4px 0 0;
}
#region-content a.flag-action:hover {
	background-color: #9FC748;
	color: #FFF;
}
#region-content a.unflag-action:hover {
	background-color: #CCC;
	color: #FFF;
}

/*missatge de confirmaci— (fade out)*/
span.flag-message {
  position: absolute;
  top: 2.7em;
  line-height: normal;
  left: 10px;
  text-align: left;
  width: 300px;
  font-size: .95em;
}

/*
 * START cosas de (http://webdesignerwall.com/tutorials/responsive-design-with-css3-media-queries)
 * no lo incorpora el tema Omega (probado con viewport de movil)
 * 
 */

/*flexible images*/
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
/*flexible videos*/
.video embed,
.video object,
.video iframe {
	width: 100%;
	height: auto;
}
/*Webkit Text Size Adjust*/
html {-webkit-text-size-adjust: none;}

/* STOP cosas de (http://webdesignerwall.com/tutorials/responsive-design-with-css3-media-queries) */

/*
 * Plates
 *
 */

/* bloc de cerca de les plates */
#block-views-exp-galley-fluid-page {
background: #F6F6F6;
border: 1px solid #CCC;
padding: 10px 15px 5px 15px;
margin: 5px 0 10px 0;
}
#block-views-exp-galley-fluid-page h2.block-title {
border: 0;
padding: 0;
margin: 0;
}
#block-views-exp-galley-fluid-page h2.block-title a {
color: #111;
text-decoration: none;
font-style: italic;
}
.color-bkg-selector-label {margin-bottom: 0.8em;}
ul#BGSelector {display: inline; padding-left: 12px;}
ul#BGSelector li {display: inline; padding: 0 0.5em; width: 16px; height: 16px; border: 1px solid #CCC;
overflow: hidden;
cursor: pointer;
text-indent: -999px;
margin-right: 2px;
border: 1px solid #999;}
ul#BGSelector li:hover {border: 1px solid #000;}
#BGSelector li.FFF {background-color: #FFF;}
#BGSelector li.EAF9F8 {background-color: #EAF9F8;}
#BGSelector li.D9D9D9 {background-color: #D9D9D9;}
#BGSelector li.selector-4 {background-color: #423F3F !important; background: #423F3F !important;}
/*filtros de la view*/
#block-views-exp-galley-fluid-page .views-exposed-widget label {font-weight: normal;}
#block-views-exp-galley-fluid-page .views-widget-filter-title {
/*float: none;*/
}
#block-views-exp-galley-fluid-page #edit-field-figure-hbw-vol-value-wrapper.views-widget-filter-field_figure_hbw_vol_value {
float: left;
width: 123px;
padding-right: 5px;
}
#block-views-exp-galley-fluid-page #edit-field-figure-hbw-plate-value-wrapper.views-widget-filter-field_figure_hbw_plate_value {
width: 123px;
}
#block-views-exp-galley-fluid-page input#edit-field-figure-hbw-vol-value.form-text,
#block-views-exp-galley-fluid-page input#edit-field-figure-hbw-plate-value.form-text {
width: 93px;
}
#block-views-exp-galley-fluid-page select#edit-field-figure-morph-value {
height: 120px;
}
#block-views-exp-galley-fluid-page select.form-select {
font-size: 0.85em;
}
#block-views-exp-galley-fluid-page .views-exposed-widget.views-submit-button,
#block-views-exp-galley-fluid-page .views-exposed-widget.views-reset-button {
/*float: right;
clear: left;*/
}

/*contingut de la view*/
.page-plate #region-content .view-content {
border: 1px solid #CCC;
}
/*boto Reset drags*/
.page-plate h1#page-title.title button {
float: right; margin: 10px 8px 5px 5px;
display: none;
}
.page-plate h1#page-title.title {
display: none;
}
.page-plate .view-content .reset button {
float: right;
margin: 0.4em;
}
/*numero d'ordre a costat de la miniatura*/
.page-plate .views-field-field-figure-order .field-content {
font-weight: bold;
height: 18px;
float: left;
position: relative;
bottom: 30px; /* amb mes pixels el numero toca les miniatures amb noms un cap */
left: 30px;
background: #eee;
border: 1px solid #EEE;
padding: 0 2px;
opacity: 0.5;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

/* 
 * Altres elements
 * 
 */

/* Feed */

.view .feed-icon {
float: right;
clear: left;
padding: 5px 0 10px 5px;
}

.view div.item-list {
margin: 5px 0 10px 0;
}

/* Pager */

.pager {margin: 1em 0 4em 0 !important;}

/* table for duplicates detection: /biblio/duplicats */

span.header-index {
color: black;
font-size: 0.8em;
}

/* Beautytip */

/*afegir un boto per poder tancar el popup*/
.node-type-species #page #region-content .bt-content .close-plate-img {
position: absolute;
top: 0;
right: 6px;
cursor: pointer;
padding: 0 0 3px 3px;
}
/* Beautytips + multiple links */
span.lm-wrapper a {display:none;}
span.lm-wrapper span.lm-number {
background: url(/sites/all/themes/hba_theme/css/images/more-links-10.gif) no-repeat 3px 2px transparent; /* LTR */
padding: 0 0 2px 16px;
margin: 0 !important;
font-size: 0.8em;
cursor: pointer;
opacity: 0.6;
}
.bt-content span.link-arroba a.ext {
  background: transparent url(/sites/all/modules/extlink/extlink.png) no-repeat right center;
  padding-right: 12px;
}

.node-type-species #page #region-content .bt-content a {
display: block !important;
padding-left: 20px;
background:url(/sites/all/themes/hba_theme/css/images/document-icon.png) no-repeat left 3px transparent;
}
.node-type-species #page #region-content .bt-content .field-item .source_nid a {
display: inline !important;
padding-left: 0px !important;
background:none !important;
}
.node-type-species #page #region-content .bt-content .shadowbox.video {
padding-left: 20px;
background:url(/sites/all/themes/hba_theme/css/images/video.gif) no-repeat left 3px transparent;
}
.node-type-species #page #region-content .bt-content .shadowbox.pic {
padding-leftt: 20px;
background:url(/sites/all/themes/hba_theme/css/images/pic.png) no-repeat left 4px transparent;
}
.node-type-species #page #region-content .bt-content .shadowbox.sound {
padding-left: 20px;
background:url(/sites/all/themes/hba_theme/css/images/sound.gif) no-repeat left 4px transparent;
}
.node-type-species #page #region-content .bt.biblio {
padding-right: 17px;
background:url(/sites/all/themes/hba_theme/css/images/biblio2.png) no-repeat right 1px transparent;
}
span#beautytip-multiple-link.bt-multiple-link:hover {
background-color: #F4F4F4;
opacity: 0.9;
}

/*Beautytips biblio*/
.node-type-species #page #region-content .bt-content #bt-container ul.biblio-bt li {
margin-left: 5px;
}
.node-type-species #page #region-content .bt-content #bt-container ul.biblio-bt li .titol {
font-weight: bold;
}
.node-type-species #page #region-content .bt-content #bt-container ul.biblio-bt li .revista {
margin-bottom: 5px;
}
/*beautytips: Ajax dynamic path*/
.node-type-species #page #region-content .bt-content h1#page-title.title {
font: bold 13px verdana,helvetica,arial,sans-serif;
margin-bottom: 10px;
}

/* Boton Show / hide (de momento en paginas de SP) provisional */

a.hide_links{

/*posicionamiento provisional para ver el boton*/
position: absolute;
top: 0px;
z-index: 100;

display: inline-block;
color: white !important;
background: #9FC748;
padding: 0.5em 1.2em;
margin: 1em auto;
font-size: 1.077em;
border: none;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-image: initial;
text-decoration:none;
outline:none;
}
a.hide_links:hover {
background: #8AAF3C;
color: white;
text-decoration:none;
outline:none;
}
a.hide_links:active:focus{
text-decoration:none;
outline:none;
}
.node-type-species #region-content .content a.disabled, 
.node-type-species #region-content .content a.disabled:hover {
color: #000;
text-decoration: none;
background: none;
padding: 0;
}

/*amagar imatge "resize me"*/
.alpha-resize-indicator {
  background: none;
}

/* iframes IBC */
body.widget-page {
  background: transparent;
}
body.widget-page #content, body.widget-page #sidebar-first, body.widget-page #sidebar-second {
float: none;
display: block;
}
#content.widget-block {
margin: 0 auto;
width: 230px;
text-align: left;
overflow: hidden;
background-color: #fff;
border: 1px solid #000;
border-radius: 7px 7px 7px 7px;
padding: 5px 10px;
}

/* My dashboard */

.region-content #homebox #homebox-add {
float: left;
}

/* View: tabla de las especies */
 
.view-species-table.view-id-species_table.view-display-id-page .view-content {
width: 100% !important;
overflow-x: scroll !important;
}

/*
 * Portada
 * 
 */

/* Bloc: Bew bibliographic references (en dashboard) */
.field-name-field-bib-ref-name, .field-name-field-bib-resta, .field-name-field-bib-nid-source {
    display:inline;
}
.field-name-field-bib-revista {
    display:inline;
    padding-right:4px;
    font-style:italic;
}
.field-name-field-bib-nid-source .contextual-links-region {
    display:inline;
}

/* Page: New bibliographic references (/biblio/new) */
#block-views-biblio-node-references-block-1 {
float: right;
width: 45%;
border: 1px solid #CCC;
padding: 15px;
margin: 0 10px 10px 0;
}
#block-views-biblio-node-references-block-1 .views-field-title,
.view-id-biblio_node_references .views-field-title {
float: left;
padding-right: 8px;
}
#block-views-biblio-node-references-block-1 .views-field-title-1 {
padding-bottom: 10px;
font-style: italic;
}
.view-id-biblio_node_references .views-field-field-bib-ref-name,
.view-id-biblio_node_references .views-field-field-bib-revista,
.view-id-biblio_node_references .views-field-field-bib-resta {
float: left;
padding-right: 3px;
}
.view-id-biblio_node_references .views-field-created {
clear: left;
text-align: right;
padding: 0 0 5px 0;
font-style: italic;
}

/* Block/Page: Last species accounts updates */
#block-views-log-updated-nodes-block-2 {
  background: #e8e7e7;
  padding: 10px;
  margin: 15px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#block-views-log-updated-nodes-block-2 .view-content {
  border: 1px solid #7a7a7a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: white;
  padding: 10px 20px 20px 20px;
}
#block-views-log-updated-nodes-block-2 .views-field-changed,
.view-log-updated-nodes .views-field-changed {
  margin: 10px auto 5px auto;
  font-size: 1.05em;
  font-weight: bold;
}
.view-log-updated-nodes span.updates-nodes-ago {
  font-weight: normal;
  float: right;
}
#block-views-log-updated-nodes-block-2 .sp_bibliolog_nid_to_link-item,
.view-log-updated-nodes .sp_bibliolog_nid_to_link-item {
  display: inline;
}
#block-views-log-updated-nodes-block-2 .sp_bibliolog_nid_to_link-item a,
.view-log-updated-nodes .sp_bibliolog_nid_to_link-item a {
  margin: 1px 1px 1px 3px;
  padding: 2px 3px;
  line-height: 25px;
  background-color: #F9F7F7;
}
#block-views-log-updated-nodes-block-2 .sp_bibliolog_nid_to_link-item a:hover,
.view-log-updated-nodes .sp_bibliolog_nid_to_link-item a:hover {
  border: 1px dashed #C02A35;
}

/* Views: eines admins */
/* Pending revisions */
#views-exposed-form-revision-pending-page #edit-number-of-revisions-wrapper.views-exposed-widget.views-widget-filter-number_of_revisions {
width: 230px;
}
#views-exposed-form-revision-pending-page select#edit-number-of-revisions-op.form-select {
float: left;
}
#views-exposed-form-revision-pending-page input#edit-number-of-revisions-value.form-text {
width: 23px;
}

/* Species by HBW volume number */
.view-species-by-hbw-volum div.container-inline {padding-top: 4em;}
.view-species-by-hbw-volum div.container-inline select {font-size: 1.3em;}

/* Bloc: Reference ID (en els node Biblio) */
div.bib-nid-clipboard span.label,
div.bib-link-clipboard span.label {font-weight: bold;}
div.bib-link-clipboard input#embed_code {height: 18px; width: 100px;}
