/* This file will hold styles that are loaded using the same media query as the wide grid. */
body {
  font-size: 76% !important;
}

#breadcrumb,
#messages {
  width: 1530px;
}

#zone-content {
  width: 1530px;
}

/*
#region-sidebar-second {
  width: 600px;
}
*/

body #zone-content aside.region {
  width: 280px;
}


#region-content {
  width: 600px;
}

#block-bird-taxonomies-bird-orders .content {
  width: 236px;
}