/* This file will hold styles that are loaded using the same media query as the normal grid. */

body {
  font-size: 70% !important;
}

body .logo-img {
  float: left;
}

body #region-menu {
  float: left;
  clear: none;
  padding-left: 0;
  width: 520px;
}

body #region-menu ul#main-menu li a { 
  font-size: 15px;
}

body #region-menu ul#main-menu li.first a {
  padding-left: 19px;
}

#region-branding {
  width: auto;
}

body #zone-content aside.region {
  width: 200px;
}

#region-content {
  width: 500px;
}

#block-bird-taxonomies-bird-orders .content {
  width: 163px;
}

#block-bird-taxonomies-bird-orders .a-wrapper a {
  font-size: 12px;
}

#region-branding {
  clear: left;
}

#region-menu ul#main-menu li a {
  font-size: 17px;
  padding: 10px 11px 5px;
}

#region-menu {
  width: 460px;
  padding-left: 152px;
}

#region-menu ul#main-menu {
  padding: 0 10px;
}

#region-menu ul#main-menu li.first a {
  background-position: -8px -288px;
  padding-left: 14px;
}

body #region-sidebar-third {
  margin-right: 10px;
}

#block-bird-taxonomies-bird-orders .content {
  padding: 15px 2px 2px;
}

#block-bird-taxonomies-bird-orders .content ul.orders {
  margin-right: 3px;
}

#block-bird-taxonomies-bird-orders .content ul li {
  padding-left: 4px;
}

#block-bird-taxonomies-bird-orders .content ul li ul li {
  padding-left: 4px;
}

#block-bird-taxonomies-bird-orders .content li.selected > .a-wrapper > a {
  padding-left: 4px;
}

#block-views-flag-nodes-block-6 h2, #block-views-flag-nodes-block-5 h2 {
  font-size: 12px;
  padding-top: 3px;
}

#block-views-flag-nodes-block-5 h2:before, #block-views-flag-nodes-block-6 h2:before {
  margin-top: 4px;
}

#block-views-flag-nodes-block-6, #block-views-flag-nodes-block-5 {
  width: 150px;
}

#block-views-flag-nodes-block-6 .content, #block-views-flag-nodes-block-5 .content {
  width: 150px;
}

#block-bird-taxonomies-bird-orders h2 {
  font-size: 16px;
}

#block-bird-taxonomies-bird-orders h2 span.plus {
  top: -7px;
}

#block-block-2 .content-toc ul {
  margin-left: 20px;
}

#block-block-2 .content-toc ul li {
  width: 180px;
}

#block-views-frontpage-content-blocks-block .view-content .views-row {
  width: 225px;
}

.view-display-id-page .views_slideshow_main {
  height: 210px;
  width: 500px;
}

#views_slideshow_cycle_teaser_section_slideshow-page {
  width: 500px;
  height: 210px;
}

#views_slideshow_cycle_teaser_section_slideshow-page .views-slideshow-cycle-main-frame-row {
  width: 500px;
}

.view-display-id-page .views_slideshow_main .views-field-title {
  left: 150px;
  width: 300px;
  height: 50px;
  top: -100px;
}

.view-display-id-page .views_slideshow_main .views-field-title a {
  font-size: 15px;
}

#views_slideshow_cycle_teaser_section_slideshow-page {
  margin-top: 0;
}

#block-bird-taxonomies-bird-orders .a-wrapper a {
  width: 84%;
}

#block-menu-menu-sections .content ul li {
  float: none;
  width: auto;
  margin-left: 0;
}

#block-menu-menu-sections .content ul li:nth-child(odd) {
  margin-right: 0;
}