/* This file will hold styles that are loaded using the same media query as the normal grid. */

body {
  font-size: 60% !important;
}

body .logo-img {
  float: left;
}

body #region-menu {
  float: left;
  clear: none;
  padding-left: 50px;
}

body #region-menu ul#main-menu li.first a {
  padding-left: 19px;
}

#region-branding {
  width: auto;
}

body #zone-content aside.region {
  width: 200px;
}

#region-content {
  width: 500px;
}

#block-bird-taxonomies-bird-orders .content {
  width: 163px;
}

#region-branding {
  clear: left;
}

#region-menu ul#main-menu li a {
  font-size: 17px;
  padding: 10px 11px 5px;
}

#region-menu {
  width: 460px;
  padding-left: 152px;
}

#region-menu ul#main-menu {
  padding: 0 10px;
}

#region-menu ul#main-menu li.first a {
  background-position: -8px -288px;
  padding-left: 14px;
}

body #region-sidebar-third {
  margin-right: 10px;
}

#block-bird-taxonomies-bird-orders .content {
  padding: 15px 2px 2px;
}

#block-bird-taxonomies-bird-orders .content ul.orders {
  margin-right: 3px;
}

#block-bird-taxonomies-bird-orders .content ul li {
  padding-left: 4px;
}

#block-views-flag-nodes-block-6 h2, #block-views-flag-nodes-block-5 h2 {
  font-size: 12px;
  padding-top: 3px;
}

#block-views-flag-nodes-block-5 h2:before, #block-views-flag-nodes-block-6 h2:before {
  margin-top: 4px;
}

#block-views-flag-nodes-block-6, #block-views-flag-nodes-block-5 {
  width: 150px;
}

#block-views-flag-nodes-block-6 .content, #block-views-flag-nodes-block-5 .content {
  width: 150px;
}

#block-bird-taxonomies-bird-orders h2 {
  font-size: 16px;
}

#block-bird-taxonomies-bird-orders h2 span.plus {
  top: -7px;
}