.logo-img {
  margin-left: 30px;
}

#region-menu ul#main-menu {
  background: rgb(251,248,248); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWUzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(251,248,248,1) 0%, rgba(229,227,227,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,248,248,1)), color-stop(100%,rgba(229,227,227,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(251,248,248,1) 0%,rgba(229,227,227,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(251,248,248,1) 0%,rgba(229,227,227,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(251,248,248,1) 0%,rgba(229,227,227,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(251,248,248,1) 0%,rgba(229,227,227,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf8f8', endColorstr='#e5e3e3',GradientType=0 ); /* IE6-8 */
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
  padding: 0 20px;
  display: block;
}

#region-menu ul#main-menu li {
  float: left;
  display: block;
  padding: 0 8px;
}

#block-bird-taxonomies-bird-orders .content {
  width: 236px;
}

.logo-img {
  float: left;
}

body #zone-user-wrapper {
  font-size: 14px;
}

#block-views-flag-nodes-block-6,
#block-views-flag-nodes-block-5 {
  display: block;
}

#block-global-filter-global-filter-1 h3 {
 margin-top: 0; 
}

<<<<<<< HEAD
=======
/**/
>>>>>>> d00311bdd152dd5f12beb92aa46830edfdc9964d
