/* This file will hold styles that are loaded using the same media query as the wide grid. */
body {
  font-size: 76% !important;
}

body.sidebar-third  #zone-content aside.region {
  width: 280px;
}

body #zone-content aside.region {
  width: 270px;
}

#region-content {
  width: 580px;
}
body.page-species-comparison #region-content,
body.page-species-diff #region-content {
  width: 75%;
}

#block-bird-taxonomies-bird-orders .content {
  width: 236px;
}

body #region-menu {
  width: 562px;
  padding-left: 50px;
}

body.node-type-species #menu-content ul li {
  width: 180px !important;
}
body.node-type-species #menu-content ul li.column2 {
  margin-left: 16em;
}

#block-views-frontpage-content-blocks-block .view-content .views-row {
  width: 265px;
}

.view-display-id-page .views_slideshow_main {
  height: 244px;
}

#views_slideshow_cycle_main_slideshow-page {
  width: 580px;
}

#views_slideshow_cycle_teaser_section_slideshow-page {
  width: 580px;
  height: 244px;
}

#views_slideshow_cycle_teaser_section_slideshow-page .views-slideshow-cycle-main-frame-row {
  width: 580px;
}

.view-display-id-page .views_slideshow_main .views-field-title {
  left: 235px;
  width: 300px;
  height: 80px;
  top: -130px;
}

.view-display-id-page .views_slideshow_main .views-field-title a {
  font-size: 18px;
}

#block-bird-taxonomies-bird-orders .content li.selected > .a-wrapper > a {
  /*padding-left: 7px;*/
}

#block-bird-taxonomies-bird-orders .a-wrapper a {
  /*width: 86%;*/
}

body #block-bird-taxonomies-bird-orders .content {
  width: 277px;
}

body #block-bird-taxonomies-bird-orders .content li.selected > .a-wrapper > a {
  background-position: 212px -600px;
}

body #block-bird-taxonomies-bird-orders .content ul.families li.selected > .a-wrapper > a {
  background-position: 234px -600px;
}

table#plan-comparison, table#plan-comparison tr {
  width:70%;
}
