/* This file will hold styles that are loaded using the same media query as the wide grid. */
body {
  font-size: 76% !important;
}

body.sidebar-third  #zone-content aside.region {
  width: 280px;
}

body #zone-content aside.region {
  width: 270px;
}

#region-content {
  width: 580px;
}

#block-bird-taxonomies-bird-orders .content {
  width: 236px;
}

body #region-menu {
  width: 562px;
  padding-left: 50px;
}

#block-block-2 .content-toc ul {
  margin-left: 68px;
}

#block-block-2 .content-toc ul li {
  width: 190px;
}

#block-views-frontpage-content-blocks-block .view-content .views-row {
  width: 265px;
}