/* This file will hold the main styles for your website. */

/* 
 * parte del css usado en temas 'bartik' y 'antonelli' 
 * */

/* header */

#section-header .section {
height: 120px;
}
#section-header .section #logo {
float: left !important;
height: 70px;
}
#section-header ul#main-menu.links {
float: right;
}
#section-header #block-user-login .item-list li {
  padding: 3px 5px 1px 0; /* LTR */
}
#search-form input#edit-keys, 
#block-search-form .form-item-search-block-form input {
  width: 70%;
}

/* Blocs */
/*
aside .block {
  border: 1px solid;
  padding: 15px 20px;
  margin: 0 0 20px;
  background-color: #F9F9F9;
  border: 1px solid #B5C9D8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
*/

/* Titles & Page Elements */
h2.block-title {
  margin: 0 0 0.5em;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.071em;
  line-height: 1.2;
}

.page-node .block-system-main {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/*
 * footer
 */

#page #section-footer {background: #222;}

/* 
 * continguts part central 
 * */

.region-content-inner {
border-top: 3px solid #B4002D !important;
}

.tabs ul.tabs.primary {
background: none;
border-bottom: 0px solid #b4002d;
margin-bottom: 4px !important;
}
.region-content .tabs ul.tabs.primary li a {
background: #FCF5F4;
padding: 0.3em 0.7em;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.region-content .tabs ul.tabs.primary li.active a.active {
background: #FFF;
border-top: 1px solid #B4002D;
border-left: 1px solid #B4002D;
border-right: 1px solid #B4002D;
border-bottom: 0px solid #FFF;
}

.region-content-inner .horizontal-tabs {
border: 0;
}

ul.tabs.secondary {
display: inline-block;
padding: 8px 5px;
margin-top: 10px;
background: #E1ECEF; 
border: 1px solid #B8E0ED;}

/* Menu nav part central FAMILY */

.node-type-family .vertical-tabs {
margin-left: 0;
border: 0;
}

.node-type-family ul.vertical-tabs-list {
  float: left !important;
  min-height: 160px !important;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 10px 0;
  position: relative; /* IE6 */
  list-style: none;
  list-style-image: none; /* IE6 */
background: #FCF5F4 !important;
border: 1px solid #D38C9B;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.node-type-family ul.vertical-tabs-list li {
  background: none;
  border: 0px solid #ccc;
  min-width: 5em; /* IE7 */
  float: none;
line-height: 1.2em !important;
}
.node-type-family ul.vertical-tabs-list li.selected,
.node-type-family ul.vertical-tabs-list li a:hover {
  background: none;
}
.node-type-family ul.vertical-tabs-list li.reset {
margin-top: -162px;
}
li.columna1 { margin-left: 20px !important; width: 40%; }
li.columna2 { margin-left: 50% !important; width: 40%; }

.node-type-family .content .vertical-tabs fieldset {
border: 0 !important;
float: left;
padding: 0 !important;
}
.node-type-family .content .vertical-tabs fieldset .field-type-text-long.field-label-above .field-label {
display: none;
}
.node-type-family .content .vertical-tabs fieldset .field.field-name-field-fam-summary.field-type-text-long.field-label-above .field-label {
display: block;
}

/* text size */

#block-textsize-form {
float: right;
border: 0 !important;
/*width: 75px;
height: 30px;*/
border-top: 0px solid red;
}
#block-textsize-form h2 {
float: left;
padding-right: 5px;
font-size: 15px;
}

.page-node-revisions #block-textsize-form {
display: none;
}

/* SP > seccions div as accordion */

.node-type-species .field-group-div.collapsed.collapsible {
 padding: 0 0 10px 0;
  margin: 5px 0 7px 0;
  border: 0;
  background-color: #F9F9F9;
}
.node-type-species .field-group-div.collapsible {
  padding: 0 0 5px 0;
  margin: 0 0 15px 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #F9F9F9;
}
.node-type-species .field-group-div.collapsed.collapsible h3 {
  padding: 3px 10px 5px 10px;
  margin: 0;
  border: 1px solid #ccc;
/*rounded corners*/
  /* Chrome and Safari */
  -webkit-border-radius: 3px;
  /* Firefox */
  -moz-border-radius: 3px;
  /* Opera */
  -o-border-radius: 3px;
  /* W3C standard--when adopted across the board */
  border-radius: 3px;
}
.node-type-species .field-group-div.collapsible h3 {
  padding: 3px 0 10px 0;
  margin: auto 10px;
  border: 0;
  cursor: pointer;
/*rounded corners*/
  /* Chrome and Safari */
  -webkit-border-radius: 3px;
  /* Firefox */
  -moz-border-radius: 3px;
  /* Opera */
  -o-border-radius: 3px;
  /* W3C standard--when adopted across the board */
  border-radius: 3px;
}
.node-type-species .field-group-div.collapsed.collapsible h3:after {
    float: right;
    margin: auto 5px;
    font-width: bolder;
    content: "+";
    color: #CCC;
}
.node-type-species .field-group-div.collapsible h3:after {
    float: right;
    margin: auto 5px;
    font-width: bolder;
    content: "-";
    color: #3B3B3B;
}
.node-type-species .field-group-div h3 a.field-group-format-title {
  text-decoration: none;
  font-size: 0.90em;
}
.node-type-species .field-group-div.collapsible .field-group-format-wrapper .field {
  padding: 0 10px;
}

/* modulo Flippy (pager provisional) */

.node-type-species ul.flippy {
margin: 50px auto 15px auto;
}

/* flag */

#region-content .flag-action {
	width: 108px;
	height: 16px;
	font-size: 11px;
	line-height: 16px;
	text-indent: 22px;
	text-decoration: none;
	color: #fff;
	background: #000 url("/sites/all/themes/hbw/images/flag_white_16px.png") 3px 3px no-repeat;
	overflow: hidden;
	opacity: 0.5;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#region-content .unflag-action {
	width: 108px;
	height: 16px;
	font-size: 11px;
	line-height: 16px;
	text-indent: 22px;
	text-decoration: none;
	color: #fff;
	background: #000 url("/sites/all/themes/hbw/images/flag_white_16px.png") 3px 3px no-repeat;
	overflow: hidden;
	opacity: 0.5;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#region-content .flag-action label {
	display: block;
	font-weight: bold;
}
#region-content .flag-action input {
	display: block;
	width: 260px;
}
#main_column .flag-action p.btn {
	float: left;
	margin: 4px 4px 0 0;
}
#region-content a.flag-action:hover, 
#region-content a.unflag-action:hover {
	opacity: 0.8;
}

.page-node-revisions .unflag-action {
display: none;
}

/* toggle button sidebar derecha (SP) */

#page #slidemarginleft.slide #region-sidebar-second.column sidebar .section {
z-index: 0;
}

#sidebar_toggle a.boto_toggle {
background:url(/themes/bartik/images/arrow_state_grey_right.png) no-repeat -2px 0 transparent;
width: 12px;
height: 17px;
position: absolute;
top: 17px;
right: -12px;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-left: 1px solid #fff;
border-right: 1px solid #ccc;
background-color: #fff;
z-index: 100;
}

#sidebar_toggle a.boto_toggle.off {
background:url(/themes/bartik/images/arrow_state_grey_left.png) no-repeat -3px 0 transparent;
width: 12px;
height: 17px;
position: absolute;
top: 17px;
right: -236px;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
border-left: 1px solid #fff;
border-right: 1px solid #ccc;
background-color: #fff;
z-index: 100;
}

/* Colorbox */

a.colorbox-load.video, .popup_video {
padding-right: 20px;
background:url(/sites/all/themes/antonelli/images/video.png) no-repeat right 1px transparent;
}
a.colorbox-load.pic, .popup_pic {
padding-right: 20px;
background:url(/sites/all/themes/antonelli/images/pic.gif) no-repeat right 1px transparent;
}
a.colorbox-load.sound, .popup_sound {
padding-right: 20px;
background:url(/sites/all/themes/antonelli/images/sound.png) no-repeat top right transparent;
}

#colorbox #cboxWrapper #cboxContent #cboxTitle {
margin: -20px 5px 5px 10px !important;
height: 40px;
}

/* pop-up m—dulo Linkit en formularios edici—n de nodes */
div#linkit { padding: 0 30px 30px 30px !important; }

/* My dashboard */

.region-content #homebox #homebox-add {
float: left;
}

/* Revision / Diff */

.content table.diff, 
div.diff-section-title {
font-size: 1.1em;
background: #E1ECEF; 
border: 1px solid #B8E0ED;}
.content table.diff td.diff-section-title {font-size: 0.95em; padding: 10px 5px 5px 5px;}
div.diff-section-title {margin-bottom: 10px;}

/* bloc Pending revision */
#block-views-revisions-pending-block.block-views {
background: #FFFDDB;
border: 1px dashed #D38C9B;
}

/* bloc Highlight changes i Revision history */
select#edit-revision.form-select.ajax-processed, 
.view-revisions-pending select#edit-jump.form-select.ctools-jump-menu-processed {
font-size: 0.9em;
letter-spacing: -0.10px;
}

.page-node-revisions.page-node-revisions-view #region-content,
.page-node-revisions.page-node-revisions-view #region-content .region-content .node-full .content .vertical-tabs fieldset {
/*background: #FFFDDB;*/ /*no es pot, falta una classe indicant que el node esta despublicat en el body*/
}

.page-node #region-content .tabs span.node-status-unpublished {
background: #FCF5F4;
border-top: 1px solid #B4002D;
border-left: 1px solid #B4002D;
border-right: 1px solid #B4002D;
border-bottom: 1px solid #FFF;
padding: 0.7em;
letter-spacing: 0.1em;
font-style: italic;
font-size: 0.9em;
color: #333;
line-height: 0.9em;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
float: right;
bottom: 24px;
position: relative;
}
.page-node-revisions #page #region-content .tabs span.node-status-unpublished {
display: none; /*no mostrar en les pagines de revisio*/
}

/* Formulari Species */

form#species-node-form fieldset#node_species_form_group_sp_names.field-group-fieldset.group-sp-names.collapsible.form-wrapper.collapse-processed {
border: 2px solid #B4002D !important;
}

/* M—dulo Table of Contents (menu navegaci—n nodes Species) */

.toc {
  background-color: #F9F9F9;
  border: 1px solid #B5C9D8;
  font-size: 95%;
  text-align: left;
}

.region-content #toc.toc {
  max-width: 50%;
padding: 5px auto;
/*rounded corners*/
  /* Chrome and Safari */
  -webkit-border-radius: 5px;
  /* Firefox */
  -moz-border-radius: 5px;
  /* Opera */
  -o-border-radius: 5px;
  /* W3C standard--when adopted across the board */
  border-radius: 5px;
}
/* cancel the width formatting in the block */
.block .toc {
  max-width: 100%;
}

.toc-title {
  text-align: center;
  font-weight: bold;
}

.toc-list {
  padding: 0 10px 0 0;
}

.toc-toggle-message {
}

.toc ul {
  list-style-image: none;
  list-style-type: none;
}

.toc-number {
  display: block;
  margin-left: -30px;
  float: left;
}

.toc-back-to-top {
  padding-right: 25px;
  text-align: right;
  font-style: italic;
  background: transparent url(back-to-top.gif) no-repeat 100% 50%;
}

/* Species comparison */

.page-species-comparison table{
	width: 100%;
	padding: 0;
	margin: 10px 0;
	list-style: none;
}
.page-species-comparison table td {
	width: 200px; /*Set default width*/
}
.page-species-comparison table td .col img {
        /*Flexible image size with border*/
	width: 89%;  /*Took 1% off of the width to prevent IE6 bug*/
	padding: 5%;
	background:#fff;
	margin: 0 auto;
	display: block;
	-ms-interpolation-mode: bicubic; /*prevents image pixelation for IE 6/7 */
}
.view-compare.view-display-id-page table th {
width: 75px;
}
.view-compare.view-display-id-page table tr.title.odd th, 
.view-compare.view-display-id-page table tr.ops.even th,
.view-compare.view-display-id-page table tr.ops.even,
.view-compare.view-display-id-page table tr.title {
background-color: #fff;
}
.view-compare.view-display-id-page table tr.odd th,
.view-compare.view-display-id-page table tr.even th {
background-color: transparent !important;
color: #333;
font-size: 1.05em;
border-right: 0 !important;
padding-right: 0 !important;
margin-right: 0 !important;
}
.view-compare.view-display-id-page table td {
border-left: 1px transparent solid;
border-right: 1px transparent solid;
vertical-align: top;
}
.view-compare.view-display-id-page table tr.title {
font-size: 1.2em;
font-weight: bold;
height: 70px !important;
}
.view-compare.view-display-id-page table td a.flag.unflag-action {
color: #555;
}
li.flag-compare .flag-action {
  background: url(/themes/bartik/images/icon-compare_add.png) no-repeat 0 center transparent; /* LTR */
  padding-left: 20px;
}
li.flag-compare .unflag-action {
  background: url(/themes/bartik/images/icon-compare_remove.png) no-repeat 0 center transparent; /* LTR */
  padding-left: 20px;
}
.page-node-revisions li.flag-compare .flag-action, 
.page-node-revisions li.flag-compare .unflag-action {
display: none;
}

/* cosas del tema Respond (responsive, html5) */

/* Forms */
input,
button,
select,
html.js input.form-autocomplete {
  -moz-box-shadow: 2px 2px 2px #eee;
  -webkit-box-shadow: 2px 2px 2px #eee;
  -o-box-shadow: 2px 2px 2px #eee;
  box-shadow: 2px 2px 2px #eee;
}

textarea {
  background: -moz-linear-gradient(top, #f6f6f6 0%, #e1e1e1 7%, #f1f1f1 26%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(7%,#e1e1e1), color-stop(26%,#f1f1f1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f6f6 0%,#e1e1e1 7%,#f1f1f1 26%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f6f6 0%,#e1e1e1 7%,#f1f1f1 26%,#ffffff 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f6f6f6 0%,#e1e1e1 7%,#f1f1f1 26%,#ffffff 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #f6f6f6 0%,#e1e1e1 7%,#f1f1f1 26%,#ffffff 100%); /* W3C */
}

/* END cosas del tema Respond */

/* class links in nodes */
.node-type-family #region-content nav.links.node-links {

}

/* START cosas de http://webdesignerwall.com/tutorials/responsive-design-with-css3-media-queries */
/* no lo incorpora el tema Omega (probado con viewport de movil) */

@media screen and (max-width: 560px) {

	#content {
		width: auto;
		float: none;
	}

	#sidebar {
		width: 100%;
		float: none;
	}

}
/*flexible images*/
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
/*flexible videos*/
.video embed,
.video object,
.video iframe {
	width: 100%;
	height: auto;
}
/*Webkit Text Size Adjust*/
html {-webkit-text-size-adjust: none;}

/* STOP cosas de http://webdesignerwall.com/tutorials/responsive-design-with-css3-media-queries */

/*
 * views
 * */

/* feed icon */
.view .feed-icon {
float: right;
clear: left;
padding: 5px 0 10px 5px;
}
/* pager */
.view div.item-list {
margin: 5px 0 10px 0;
}

/*
 * START View plates ("galley-fluid")
 */

/* exposed filters */
#block-views-exp-galley-fluid-page {
background: #F6F6F6;
border: 1px solid #CCC;
padding: 10px 15px 5px 15px;
margin: 5px 0 10px 0;
}
#block-views-exp-galley-fluid-page h2.block-title {
border: 0;
padding: 0;
margin: 0;
}
#block-views-exp-galley-fluid-page h2.block-title a {
color: #111;
text-decoration: none;
font-style: italic;
}
.color-bkg-selector-label {margin-bottom: 0.8em;}
ul#BGSelector {display: inline; padding-left: 12px;}
ul#BGSelector li {display: inline; padding: 0 0.5em; width: 16px; height: 16px; border: 1px solid #CCC;
overflow: hidden;
cursor: pointer;
text-indent: -999px;
margin-right: 2px;
border: 1px solid #999;}
ul#BGSelector li:hover {border: 1px solid #000;}
#BGSelector li.FFF {background-color: #FFF;}
#BGSelector li.EAF9F8 {background-color: #EAF9F8;}
#BGSelector li.D9D9D9 {background-color: #D9D9D9;}
#BGSelector li.selector-4 {background-color: #423F3F !important; background: #423F3F !important;}
/*filtros de la view*/
#block-views-exp-galley-fluid-page .views-exposed-widget label {font-weight: normal;}
#block-views-exp-galley-fluid-page .views-widget-filter-title {
float: none;
}
#block-views-exp-galley-fluid-page #edit-field-figure-hbw-vol-value-wrapper.views-widget-filter-field_figure_hbw_vol_value {
float: left;
width: 123px;
padding-right: 5px;
}
#block-views-exp-galley-fluid-page #edit-field-figure-hbw-plate-value-wrapper.views-widget-filter-field_figure_hbw_plate_value {
width: 123px;
}
#block-views-exp-galley-fluid-page input#edit-field-figure-hbw-vol-value.form-text,
#block-views-exp-galley-fluid-page input#edit-field-figure-hbw-plate-value.form-text {
width: 93px;
}
#block-views-exp-galley-fluid-page select#edit-field-figure-morph-value {
height: 120px;
}
#block-views-exp-galley-fluid-page select.form-select {
font-size: 0.85em;
}
#block-views-exp-galley-fluid-page .views-exposed-widget.views-submit-button,
#block-views-exp-galley-fluid-page .views-exposed-widget.views-reset-button {
float: right;
clear: left;
}

/*contingut de la view*/

.page-plate #region-content .view-content {
border: 1px solid #CCC;
}
/*boto Reset drags*/
.page-plate h1#page-title.title button {
float: right; margin: 10px 8px 5px 5px;
display: none;
}
.page-plate h1#page-title.title {
display: none;
}
.page-plate .view-content .reset button {
float: right;
margin: 0.4em;
}
/*numero d'ordre a costat de la miniatura*/
.page-plate .views-field-field-figure-order .field-content {
font-weight: bold;
height: 18px;
float: left;
position: relative;
bottom: 30px; /* amb mes pixels el numero toca les miniatures amb noms un cap */
left: 30px;
background: #eee;
border: 1px solid #EEE;
padding: 0 2px;
opacity: 0.5;
border-radius: 6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
}

/*
 * STOP plates
 * */
